//- post.jade
extends page

block content
  div(ng-controller="Walk")

    section.article--header-background(style="background-image:url(#{image});")
      .container
        .row(class="row row@mobile")
          .gr-12.article--header
            h1.article--title!= title



    section.sticky--bar(sticky anchor="#sticky-bar-anchor")
      .container
        .row(class="row row@mobile")
          .gr-12
            h3.sticky--title
              = title

    #sticky-bar-anchor
    section
      .container
        div(class="row row@mobile")
          .gr-12
            .article--breadcrumb
              a(href="/") Home
              span /
              if region && region.length > 0
                each tag, index in region
                  a(href="/region/#{tag.toLowerCase().split(' ').join('-')}") #{tag}
              span /
              span
                !=title
    section
      .container
        div(class="row-reverse row-reverse@mobile")

          div(class="gr-4 gr-12@mobile")
            h3
              | About
            .article--properties
              table
                if start
                  tr
                    th
                      | Start:&nbsp;
                    td
                      =start
                if end
                  tr
                    th
                      | End:&nbsp;
                    td
                      =end
                if distance
                  tr
                    th
                      | Distance:&nbsp;
                    td
                      =distance

                if terrain
                  tr
                    th
                      | terrain:&nbsp;
                    td
                      =terrain
                if grade && grade.length > 0
                  tr
                    th
                      | Grade:&nbsp;
                    td
                      each gr, index in grade
                        a(href="/grade/#{gr.toLowerCase().split(' ').join('-')}/") #{gr}

            #sticky-map-anchor
            .container.map-container(sticky anchor="#sticky-map-anchor")
              div(class="row row@mobile")

                .map-wrapper
                  h3
                    | Map
                    span.map--grid-ref
                      | {{gridRef}}
                  #map

          div(class="gr-8 gr-12@mobile")


            p.article--lead
              != lead

            != contents

             #disqus_thread
              script.
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//mudwetandbeers.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();



