//- post.jade
extends page
block head
  section
    .Grid
      .row
        .gr-12
          a.Site--home-link(href='/') MudWetandBeers.com

block content
  section
    .Grid
      .row
        .gr-12
          h1.Article--title!= title

  section
    .Grid
      .row
        .gr-12
          div.details #{moment(publishDate).format("D MMM YYYY")}

  section
    .Grid
      .row
        .gr-12
          if tags && tags.length > 0
            .tags
              each tag, index in tags
                a(href="/#{tag.toLowerCase()}").tag #{tag}
                if index != tags.length -1
                  | ,

    .Grid
      .row
        .gr-12!= contents

    .Grid
      .row
        #map

    .Grid
      .row
        .gr-12
         By #{author}
