//- post.jade
extends page
block head
  section.Site--top-bar
    .Grid
      .row
        .gr-12
          a.Site--home-link(href='/') MudWetandBeers.com

block content
  section.Article--header-background(style="background-image:url(#{image});")
    .Grid
      .row
        .gr-12.Article--header
          h1.Article--title!= title


  if gpx
        #map

  section
    .Grid
      .row
        .gr-12
          div.details #{moment(publishDate).format("D MMM YYYY")}

      .row
        .gr-12
          if tags && tags.length > 0
            .tags
              each tag, index in tags
                a(href="/#{tag.toLowerCase().split(' ').join('-')}").tag #{tag}
                if index != tags.length -1
                  | ,
      if gpx
        .row
          .gr-12
            a(href="#{gpx}") Download GPX file

  section
    .Grid
      .row
        .gr-12!= contents


    script.
      var pageMeta = {
        gpx : '#{gpx}'
      };
