//- post.jade
extends page

block content
  div(ng-controller="Walk")

    section.article--header-background(style="background-image:url(#{image});")
      .container
        .row
          .gr-12.article--header
            h1.article--title!= title



    section.sticky--bar(sticky)
      .container
        .row
          h3.sticky--title
            = title
          span.sticky--grid-ref
            | NY325066
    #sticky-anchor
    section
      .container
        .row
          div(class="gr-8 gr-12@mobile")
            div(class="row row@mobile")
              .gr-12
                .article--breadcrumb
                  a(href="/") Home
                  span /
                  if region && region.length > 0
                    each tag, index in region
                      a(href="/region/#{tag.toLowerCase().split(' ').join('-')}") #{tag}
                  span /
                  span
                    !=title

                != contents
          div(class="gr-4 gr-12@mobile")
            .article--properties
              h4
                | Information
              p
                strong
                  | Grade:&nbsp;
              if grade && grade.length > 0
                each gr, index in grade
                  a(href="/grade/#{gr.toLowerCase().split(' ').join('-')}/") #{gr}
              p
                strong
                  | Start:&nbsp;
                if start
                  =start
              p
                strong
                  | End:&nbsp;
                if end
                  =end
              p
                strong
                  | Distance:&nbsp;
                if distance
                  =distance

            .container.map-container(sticky)
              .row
                .map-wrapper
                  #map

