//- post.jade
extends page

block content
  div(ng-controller="Walk")

    section.article--header-background(style="background-image:url(#{image});")
      .container
        .row
          .gr-12.article--header
            h1.article--title!= title



    section.sticky--bar(sticky anchor="#sticky-bar-anchor")
      .container
        .row
          .gr-12
            h3.sticky--title
              = title
            span.sticky--grid-ref
              | {{gridRef}}

    #sticky-bar-anchor
    section
      .container
        .row
          div(class="gr-8 gr-12@mobile")
            div(class="row row@mobile")
              .gr-12
                .article--breadcrumb
                  a(href="/") Home
                  span /
                  if region && region.length > 0
                    each tag, index in region
                      a(href="/region/#{tag.toLowerCase().split(' ').join('-')}") #{tag}
                  span /
                  span
                    !=title

                p.lead
                  != lead
                != contents

              .gr-12
                 #disqus_thread
                  script.
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//mudwetandbeers.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();

          div(class="gr-4 gr-12@mobile")
            .article--properties
              p
                strong
                  | Grade:&nbsp;
                if grade && grade.length > 0
                  each gr, index in grade
                    a(href="/grade/#{gr.toLowerCase().split(' ').join('-')}/") #{gr}
              p
                strong
                  | Start:&nbsp;
                if start
                  =start
              p
                strong
                  | End:&nbsp;
                if end
                  =end
              p
                strong
                  | Distance:&nbsp;
                if distance
                  =distance
            #sticky-map-anchor
            .container.map-container(sticky anchor="#sticky-map-anchor")
              .row
                .map-wrapper
                  #map

