//- post.jade
extends page
block head
  section
    .Grid
      .row
        .gr-12
          a.Site--home-link(href='/') MudWetandBeers.com

block content
  section
    .Grid
      .row
        .gr-12
          h1.Article--title!= title

      .row
        .gr-12
          div.details #{moment(publishDate).format("D MMM YYYY")}

      .row
        .gr-12
          if tags && tags.length > 0
            .tags
              each tag, index in tags
                a(href="/#{tag.toLowerCase().replace(' ','-')}").tag #{tag}
                if index != tags.length -1
                  | ,
    if gpx
      .row
        .gr-12
          a(href="#{gpx}") Download GPX file

  section
    .Grid
      .row
        .gr-12!= contents

    if gpx
      .Grid
        .row
          #map

    .Grid
      .row
        .gr-12
         By #{author}

    script.
      var pageMeta = {
        gpx : '#{gpx}'
      };
