//- post.jade
extends page
block head
  section.Site--top-bar
    .Grid
      .row
        .gr-12
          a.Site--home-link(href='/') MudWetandBeers.com

block content
  section.Article--header-background(style="background-image:url(#{image});")
    .Grid
      .row
        .gr-12.Article--header
          h1.Article--title!= title

  section
    .Grid
      .row
        .gr-12
          .Article--properties
            if region && region.length > 0
              strong.Article--property
                | Region:
              each tag, index in region
                a(href="/region/#{tag.toLowerCase().split(' ').join('-')}").Article--property-value #{tag}
                if index != tags.length -1
                  | ,
            if maps && maps.length > 0
              strong.Article--property
                | Maps:
              each map, index in maps
                a(href="/map/#{map.toLowerCase().split(' ').join('-')}").Article--property-value #{map}
                if index != maps.length -1
                  | ,

            if grade && grade.length > 0
              strong.Article--property
                | Grade:
              each gr, index in grade
                a(href="/grade/#{gr.toLowerCase().split(' ').join('-')}").Article--property-value #{gr}

  if gpx
    section
      .Grid
        .row
          .gr-12
            #map

  section
    .Grid
      .row
        .gr-12!= contents


    script.
      var pageMeta = {
        gpx : '#{gpx}'
      };
